html,
body {
  width: 100%;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  border-spacing: 0;
}

/* for dev */
body {
  background-color: black;
  color: white;
}

.code {
  font-family: Roboto Mono,monospace;
}
