html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  border-spacing: 0;
}

/* for dev */
body {
  background-color: black;
  color: white;
}